REACT_APP_API_BASE_URL=
REACT_APP_AIPA_CONTROLL_URL=http://127.0.0.1:8001
REACT_APP_VBEE_TTS_URL=
REACT_APP_VBEE_TTS_TOKEN=
REACT_APP_VBEE_TTS_APP_ID=
REACT_APP_VBEE_VOICE_CODE=hn_female_ngochuyen_full_48k-fhg
